In [ ]:
a= 1
b = 2
c = (a+b)
print(c)

3

In [ ]:
ab = [1,2,3,4]
type(ab)
ab[2] = 5
print(ab)

[1, 2, 5, 4]

###Day 2

In [ ]:
a= 6
b = 2
c = a/b
print(c)

3.0

In [ ]:
oprerator = 'division'
if(oprerator == 'addition'):
  print(a+b)
elif(oprerator == 'Sub'):
  print(a-b)
elif(oprerator == 'division'):
  print(a/b)
else:
  print("Invalid")

3.0

###Day:3
TypeCasting

In [ ]:
type(a)

#Typecasting : Changing the data type of a variable with out replacing the value.
ab = 3
ab = str(3)
type(ab)

str

Looping

In [ ]:
#Print all the numbers from 5 to 10
for i in range(5,100):
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# input a URL 5 times
for i in range(5):
  url = input()

Sunil
Spineac
google
hi
how are

In [ ]:
# Print how many times google.com visited with itreation.
count = 0
for i in range(5):
  url = input("Enter the URL: ")
  if(url == 'google.com'):
    count = count + 1
  print("iteration no : ", i+1, "is", count)
print("Google.com visited ",count)

Enter the URL: google.com
iteration no :  1 is 1
Enter the URL: sunil
iteration no :  2 is 1
Enter the URL: google.com
iteration no :  3 is 2
Enter the URL: google.com
iteration no :  4 is 3
Enter the URL: spineac.com
iteration no :  5 is 3
Google.com visited  3

In [ ]:
# print iteration if only google.com visited
count = 0
for i in range(5):
  url = input("Enter the URL: ")
  if(url == 'google.com'):
    count = count + 1
    print("iteration no : ", i+1, "is", count)
print("Google.com visited ",count)

Enter the URL: google.com
iteration no :  1 is 1
Enter the URL: sunil.com
Enter the URL: google.com
iteration no :  3 is 2
Enter the URL: google.com
iteration no :  4 is 3
Enter the URL: sunil.com
Google.com visited  3

###Day4 : Quiz

In [ ]:
''' 
Q1 : Can you swap A & B

Initial:
A = 5
B = 3

End:
A = 3
B = 5
'''

A = 5
B = 3

print('new values:',A,B)

temp = A #Created a duplicate of A = 5
A = B #A now has B's value  | A = 3, B = 3
B = temp #final step

print('New values:', A,B)

In [1]:
#The user will give you 5 integers as an input. Use the input() function to capture it and write python code print the resultant sum.
#Not correct
sum = 0
for i in range(5):
  intr = int(input("Enter an Integer: "))
  sum = sum + intr

print(sum)

25

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

Day 5: Find and Replace

In [ ]:
# Find the number of charecter 'a' exists in the below para.
para = '''
Wikis are enabled by wiki software, otherwise known as wiki engines. A wiki engine, being a form of a content management system, differs from other web-based systems such as blog software, in that the content is created without any defined owner or leader, and wikis have little inherent structure, allowing structure to emerge according to the needs of the users.[1] Wiki engines usually allow content to be written using a simplified markup language and sometimes edited with the help of a rich-text editor.
'''
count =0
for p in range(len(para)):
  i_num = para[p]
  if(i_num=='a'):
    count = count+1
print(count)

27

In [ ]:
# Find the charecter 'a' and replace with $ in the below para.
para = '''
Wikis are enabled by wiki software, otherwise known as wiki engines. A wiki engine, being a form of a content management system, differs from other web-based systems such as blog software, in that the content is created without any defined owner or leader, and wikis have little inherent structure, allowing structure to emerge according to the needs of the users.[1] Wiki engines usually allow content to be written using a simplified markup language and sometimes edited with the help of a rich-text editor.
'''
new_string = ""
for p in range(len(para)):
  i_num = para[p]
  if(i_num=='a'):
    new_string = new_string + "$"
  else:
    new_string = new_string + i_num
print(new_string)

Wikis $re en$bled by wiki softw$re, otherwise known $s wiki engines. A wiki engine, being $ form of $ content m$n$gement system, differs from other web-b$sed systems such $s blog softw$re, in th$t the content is cre$ted without $ny defined owner or le$der, $nd wikis h$ve little inherent structure, $llowing structure to emerge $ccording to the needs of the users.[1] Wiki engines usu$lly $llow content to be written using $ simplified m$rkup l$ngu$ge $nd sometimes edited with the help of $ rich-text editor.

###User Defined Functions

In [ ]:
# Create a calculator function with add, sub, multi, division functionalities.
#return function stores the output somewhere. Insted of print we can use return.
# Bulit in functions - print(), type()

In [ ]:
input1 = 6
input2 = 2
operator = 'add'

def calculator(input1,input2,operator):

  if(operator == 'add'):
    result = input1 + input2
  elif(operator == 'sub'):
    result = input1 - input2
  elif(operator == 'mul'):
    result = input1 * input2
  elif(operator == 'div'):
    result = input1 / input2
  else:
    result = -9999999999
    print("invalid result")
  #print(result)
  return(result)

calculator(10,2,'add')
var1 = calculator(10,2,'add')

12

###Module and Packages

Modules are .py files.
Can have multiple functions with in it.
collection of functions.
We can write in different styles.
use wuth import

In [ ]:
#style 1
import math
print(math.sqrt(12))

#Style 2
from math import sqrt
print(sqrt(12))

#Style 3 - allias
import math as m
print(m.sqrt(12))

3.4641016151377544
3.4641016151377544
3.4641016151377544

##Packages
collection of modules

In [ ]:
from sklearn.svm import svc
##from sklearn.tree import DecissionTreeClassifier

ImportError: ignored

In [ ]:
#Default parameter : without input any operator
input1 = 6
input2 = 2
operator = 'add'

def calculator(input1,input2,operator = 'add'): #here we need to define the default operator

  if(operator == 'add'):
    result = input1 + input2
  elif(operator == 'sub'):
    result = input1 - input2
  elif(operator == 'mul'):
    result = input1 * input2
  elif(operator == 'div'):
    result = input1 / input2
  else:
    result = -9999999999
    print("invalid result")
  #print(result)
  return(result)

calculator(10,2,'add')
var1 = calculator(10,2,'add')

calculator(4,2)

6

###Day 6
###Data Structures: List and Strings

In [ ]:
from pickle import APPENDS
#1. loop to record repetatively marks of different students adn strues it in a list.
# will use append function to add each element.

class_marks = []

for i in range(4):
  marks = int(input('Marks:'))
  class_marks.append(marks)
  print('Class Marks in iter ', i+1, ' ',7 class_marks)

print(class_marks)

Marks:90
Class Marks in iter  1   [90]
Marks:99
Class Marks in iter  2   [90, 99]
Marks:66
Class Marks in iter  3   [90, 99, 66]
Marks:70
Class Marks in iter  4   [90, 99, 66, 70]
[90, 99, 66, 70]

In [ ]:
# Index : Location/position number of an element starts from 0.
print(class_marks[1])

40

In [ ]:
#Access every element at each iteration / iterate through the list.
#Style -1
print('Style1')
for i in range(len(class_marks)):
  #i is indexing from 0 to list-length - 1
  print(class_marks[i])

#Style - 2
print('Style2')
for i in class_marks:
  #i is directly iterating through the list.
  print(i)

Style1
90
99
66
70
Style2
90
99
66
70

In [ ]:
# Update marks, by given index 2.
class_marks[2] = class_marks[2] + 5
print(class_marks)
print("Class Marks of 2: ",class_marks[2])

[90, 99, 88, 70]
Class Marks of 2:  88

In [ ]:
# Few function on list.
class_marks.sort()
print(class_marks)

class_marks.sort(reverse=True)
print(class_marks)

# Need to go through differnt functions in list like count() etc. Go through : https://www.w3schools.com/python/python_ref_list.asp

[70, 88, 90, 99]
[99, 90, 88, 70]

##Strings

In [ ]:
strp = 'Sunil'
str1 = "Another"
str2 = ''' A very good
person.
'''
#print each element in a perticular iteration.
for i in str2:
  print(i)

#Style 2
print('Style2')
for i in range(len(str2)):
  print(str2[i])

A

v
e
r
y

g
o
o
d


p
e
r
s
o
n
.


Style2

A

v
e
r
y

g
o
o
d


p
e
r
s
o
n
.

In [ ]:
#String methods/function/operations
#format : <string_name>.<function_name>(<arguments>)
#More methos : https://www.w3schools.com/python/python_ref_string.asp
txt = 'dkfce'
txt.isalpha()

True

In [ ]:
#Join function
#you have a list of string and you want to join it together with a separator #.
y = ['Sunil','Sashank','Subrat']
x = '#'.join(y)
print(x)

Sunil#Sashank#Subrat

In [ ]:
#Concatination function
First_name = 'Sunil'
Second_name = 'Pradhan'
Full_Name = First_name +" "+ Second_name
print(Full_Name)

Sunil Pradhan

Strings are immutable.
We can't do : first_name[2] = 'd'

In [ ]:
#Slicing : Choose a subset of a string.
#<string_name>[start:end] : it will pick start to end-1
print(Full_Name[0:3])
print(Full_Name[:3]) #it takes from start. Takes everything from start to end-1
print(Full_Name[2:]) # Takes everything from 2 to end.

Sun
Sun
nil Pradhan

##Day7
##Dictionary

:Dict: Genralised form of a list.
index (key) : typically str
(string) -> (any data type)
Also called hash key.

In [ ]:
'''
<dict_name> = {
  'key1' : value1,
  'key2' : value2
}'''

d = {
  'AlphaML' : 'Located in page 2',
  'How do you do?' : 'Located in page 3'
}

print(d['AlphaML'])

#Example 2
d = {
  'AlphaML' : [1,2,3],
  'How do you do?' : 'Located in page 3'
}

print(d['AlphaML'])

Located in page 2
[1, 2, 3]

In [ ]:
#How to find the key of a dictionary.
print(d.keys())
print(type(d.keys()))

dict_keys(['AlphaML', 'How do you do?'])
<class 'dict_keys'>

In [ ]:
#Iterate through dict through keys.
for i in di.keys():
  key = i
  Value = d[key]
  print(key,Value)

AlphaML [1, 2, 3]
How do you do? Located in page 3

In [ ]:
#Add something to dictionary.
d['yo'] = [4,5,6]
print(d)
# By Default I have assign print = d which leds to error where I have used print satement. so avoid this!

{'AlphaML': [1, 2, 3], 'How do you do?': 'Located in page 3', 'yo': [4, 5, 6]}

In [ ]:
del(print) # this solved

In [ ]:
#set : not very useful
this = {'Sunil','Sunil','Skp'}

In [ ]:
#Tuple
tup = ('Sunil',1,2,'Pradhan')

##Operator
Arithmatic Operators : +, -, /, *, %, **- Exponitition, //-floor division

In [ ]:
x = 2 * 4
print(x)

y = 5 % 2
print(y)

#Checking Equality
##  ==, <=,>=, !=


if (x != 6):
  print(y)
else:
  print(x)

8
1
1

In [ ]:
#Short-hand representatioon x = x * 2 and x *= 2 is the same operation
x = x * 2
x *= 2
print(x)

x /= 2

print(x)

256.0
128.0

In [ ]:
# Logical Operators - and, or, not, in
x = 3
if ( x > 100 and x < 150):
  print('yes')



if ( x > 100 or x < 10):
  print('yes')
else:
  print('No')

yes

In [ ]:

if (not(x==3)): #'not' Nagates the internal operators, mean true become false and false become true
  print('yes')
else:
  print('no')

no

In [ ]:
#In Operator
if ('a' in 'alibaba'):
  print('true')

if (10 in [1,2,3,4,5,6]):
  print('true')
else:
  print('false')

true
false

##Day 8 - Quiz 2

"""
Write 3 functions, one for each operation:
Input: List of strings
Assume: The search elements exist atleast once in the list
"""

In [4]:
"""
Given the input list and element to be found, return the index of the first occurance
Input List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
Search Element = "you"
Output = 4
"""
"""def search(input_list, search_elem):
  pass"""

Input_List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
search_elem = "you"

for i in range(len(Input_List)):
  if (Input_List[i] == 'you'):
    index = i
    break
print(index)

#Otherway
def search(Input_List, search_elem):
  for idx in range(len(Input_List)):
    if (search_elem == Input_List[idx]):
      return idx
  return -1
  
print(search(Input_List,search_elem))


#ANother way
def count(input_list, search_elem):
  answer = -1
  for i in range(len(Input_List)):
    if(search_elem == Input_List[idx]):
      if(answer == -1):
        answer = idx 
  return answer
print(search(Input_List,search_elem))

4
4

In [8]:
"""
Given the input list, count the number of elements equal to 'search_elem'
Input List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
Search Element = "hey"
Output = 3
"""
'''def count(input_list, search_elem):
  pass'''

Input_List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
cou = 0
for i in range(len(Input_List)):
  if(Input_List[i] == 'hey'):
    cou = cou + 1
print(cou)

#other way

def cnt(input_list, search_elem):
  cnt = 0
  for i in Input_List:
    if(search_elem == i):
      cnt = cnt + 1
      #cnt += 1   Sorter way of writing arithmetic update ops
  return count

cnt(Input_List,search_elem)

3

In [9]:
"""
Given the input list, and another list of search terms, return a dict with a list of their corresponding indices
Input List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
Search List = ["hey", "you"]
Output Dict = {
  "hey" : [0, 3, 8],
  "you" : [4, 7]
}

Concept: Nested for loops -> One for loop inside another
"""
'''
def search_location(input_list, search_list):
  pass'''

Input_List = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
hey_index = []
you_index = []
Output_Dict = {}
for i in range(len(Input_List)):
  if (Input_List[i] == 'hey'):
    hey_index.append(i)
for i in range(len(Input_List)):
  if(Input_List[i] == 'you'):
    you_index.append(i)

Output_Dict['hey'] = hey_index
Output_Dict['you'] = you_index

print(Output_Dict)

{'hey': [0, 3, 8], 'you': [4, 7]}
None

In [13]:
#Otherway
#brute force solution
input_list = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
Search_List = ["hey", "you"]

def search_location(input_list, Search_List):

  output = {}
  for search_word in Search_List:
    output[search_word] = []
  #nested for loops one inside another
  for search_word in Search_List:
    #Search word is fixed now - for this iteration!
    for list_idx in range(len(input_list)):
      if(search_word == input_list[list_idx]):
        output[search_word].append(list_idx)
  return output

#Function calling stage
input_list = ["hey", "how", "is", "hey", "you", "how", "are", "you", "hey"]
Search_List = ["hey", "you"]
output = search_location(input_list, Search_List)
print(output)

{'hey': [0, 3, 8], 'you': [4, 7]}

##Day8 - Classes
Encapulation/Combination of functions and variables.

In [ ]:
'''
Syntax
class <Class_name> ():
  def __int__(self, <function_argu>):
    self.<variable> = <function_arg>

def method1 (self,<arg>):
  pass

#Class object instantiation.
<object_name> = <Class_name>(<function_arg>)

#If we want to store student names and age
S1_name: 'Sunil'
S1_age: 26

s2_name = 'Sk'
S2_age = 27


#Self is used to reference attributed from the objects. Variables and func residec inside the object self.
self.<variable_name>
self.<function_name>.

self --> is used to reference things which can be called as object.<thing>
'''

class student():
  def __init__ (self,name,age):
    self.name = name.  # Self is referencing to 'student'
    self.age = age

s1 = student('Sunil',26)
s2 = student('Sk',27)

print(s1.name,s1.age)
print(s2.name,s2.age)

Sunil 26
Sk 27

In [ ]:
#Example -2
class student():
  def __init__ (self,name,age, score):
    self.name = name
    self.age = age
    self.score = score

  def convert_to_grade(self):
    if(self.score>=30):
      self.grade = 'Pass'
    else:
      self.grade = 'Fail'

      #Update scode and map the score to grade.
  def update_and_grading(self, new_score):
    self.score = new_score
    self.convert_to_grade()
    self.determine_scholarship()
    print(self.score,self.grade, self.scholarship)

#Determine eligibility of scholarship
  def determine_scholarship(self):
    if(self.score > 90):
      self.scholarship = True
    else:
      self.scholarship = False

In [ ]:
s1 = student('Sunil',26, 29)

print(s1.name,s1.age, s1.score)

Sunil 26 29

In [ ]:
s1.convert_to_grade()
print(s1.grade)

Fail

In [ ]:
#Traditional way of updating internal attribute in class.
s1.score = 70
print(s1.score)

70

In [ ]:
s1.update_and_grading(91)

91 Pass True

In [ ]:
s1. scholarship

True

##Inheritance

In [ ]:
'''
inheritance --> whatever properties have been defined in the privious class that has been inherited here. Here studet is the parent class and alumni is the child class.

class <child_class_name>(<parent_class_name>):
  def __init__ (self, name):
    pass

  def method1 (self):
    pass
    '''

class alumni(student):
  def __init__(self,name,age, score, year):
    student.__init__(self, name, age, score)
    self.graduation_year = year

#Another way of writing:
class alumni(student):
  def __init__(self,name,age, score, year):
    super().__init__(name, age, score)  # people also write in different way, only you need to remove super after __init__ --> super().__init__(self, name, age, score)
    self.graduation_year = year

In [ ]:
a = alumni('Rohit', 29, 88)
print(a.name)

2022

In [ ]:
a.convert_to_grade()
print(a.grade)

Pass

In [ ]:
a = alumni('Rohit', 29, 88, 2022)
print(a.graduation_year)

2022